@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

html{

    background-color: #0a1017;

}

*{
    margin: 0;

}

:root{

    --font:#CACACA;
    --font2:#202022;
    --font3:#1e936a;

}

#main_logo{

    height: 8vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

header{

    width: 100%;
    display: flex;
    height: 9vh;
    background-color: #0a1017;
    color:var(--font);
    align-items: center;
    position: fixed;
    
}

h1{

    font-size: 3vmin;
    color: var(--font3);
    font-family:'Rubik Mono One', monospace;;

}

nav{

    width: 50%;

}

ul{

    
    display: flex;
    list-style: none; 
    justify-content: space-evenly;
    
}

li{

    display: flex;
    font-size: 2.3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    padding: 2vw;

}


a {
    position: relative;
    text-decoration: none;
    color:var(--font);
  }
  
  
 
a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--font);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
    
}
  
a:hover::before {

    transform: scaleX(1);
}


main{

    padding-top: 9vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.news_page{

    display: flex;
    justify-content: center;

}

.news_container{

    display: flex;
    
}

.card{

    background-color: #121d29;
    width: 15.5vw;
    height: 21vh;
    text-align: center;
    border-radius: 2em;
    margin: 2vw;
    transition: ease;
    transition-duration: 0.4s;
    min-width: 140px;
    min-height: 120px;
    max-width: 600px;

}

.games_page{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    width: 80%;

}

.game{

    background-color: #121d29;
    text-align: center;
    margin: 1vw;
    width: 100px;
    height: 15vh;
    border-radius: 20px;

}

.logo{

    text-align: center;
    margin: 1vw;
    width: 100px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h3{

    color: #393939;
    font-size: 2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;

}

.game:nth-child(1){

    width: 28vw;

}

.logo:nth-child(2){

    width: 14vw;

}

.game:nth-child(3){

    width: 28vw;

}

.game:nth-child(4){

    width: 28vw;

}

.game:nth-child(5){

    width: 14vw;

}

.game:nth-child(6){

    width: 13vw;

}

.game:nth-child(7){

    width: 13vw;

}


footer{

    background-color: var(--font2);
    color: var(--font);
    text-align: center;
    font-size: 1.3em;

}